<!DOCTYPE html>
<html lang="en">
  <head>
		<title>ENCS436 Webserver</title>	
  
    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  
  </head>

<style>

.myClass { color: green  }

</style>

  <body>



        

    <div class="container">

      <header class="header clearfix" style="background-color: #ffffff">

        <!-- Main Menu -->
        <nav>
          <ul class="nav nav-pills pull-right">
            <li ><a href="/">Home</a></li>
            <li><a href="/partOne">Part One</a></li>
            <li><a href="/">Part Two</a></li>
          </ul>
        </nav>

        <!-- Site Name -->
        <h1 class="h3 text-muted">Computer Networks Project</h1>

             <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li>Part Two</li>
          <li>First Page</li>
        </ol>
      

      </header>

      <div class="page-heading">

        <!-- Page Heading -->
        <h1>First Page</h1>

      </div>

      <div class="row">

        <div class="col-sm-3">

          <!-- Sub Navigation -->
          <ul class="nav nav-pills nav-stacked">
            <li ><a href="/partOne">Part One</a></li>
            <li class="active"><a href="/">Part Two</a>
              <ul>
                <li style="font-weight: bold"><a href="/1">First Request</a></li>
                <li><a href="/2">Second Request</a></li>
                <li><a href="/3">Third Request</a></li>
              </ul>
            </li>
          </ul>

        </div>

        <div class="col-sm-9">

          <div class="page-contents">

            <!-- Design Body -->
            <h2>Welcome to our course <span class="myClass"> Computer Networks </span> </h2>
            <p>This project was done by:</p>
				<div class="row">
					
					
					<div class="col-sm-2">
						<h5 style="font-weight:bold">Saleem Hamo</h5>	
						<h6 style="font-weight:bold">1170381</h6>
					</div>
					<div class="col-sm-3">
						<figure>
							<img src="images/BZUlogo.jpeg" width="100px" height ="70px"/>
						</figure>
					</div>
									
				
					
				
				</div>
				<div class="row">
				
				<div class="col-sm-2">
				
						<h5 style="font-weight:bold" >Mesk AbuAlrob</h5>	
						<h6 style="font-weight:bold">1170948</h6>
					</div>
					
					<div class="col-sm-3">
						<figure>
							<img src="images/BZUlogo.jpeg" width="100px" height ="70px"/>
						</figure>
					</div>


					
				</div>
			<hr>
			
			<div class="row">
				
					<h4>Client IP: </h4> <p th:text="${clientIP}">id</p>
					<h4>Client Port: </h4> <p th:text="${serverPort}">id</p>
					
			</div>
			
			
			
        </div>

       

      </div>
      
      </div>
<hr>
      <footer class="footer">
       <p class="pull-right">&copy; 2020 Computer Networks, BZU.</p>
        <div >
          <!-- Last Updated Design Area-->
          <p>Done By:</p>
          <ul>
			<li> Saleem Hamo   - 1170381</li>
			<li> Mesk AbuAlrob - 1170948 </li>
		</ul>
        </div>
       
      </footer>

    </div> <!-- /container -->

  </body>
</html>