<!DOCTYPE html>
<html lang="en">
  <head>
		<title>ENCS436 Webserver</title>	
  
    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  
  </head>

<style>


</style>

  <body>



        

    <div class="container">

      <header class="header clearfix" style="background-color: #ffffff">

        <!-- Main Menu -->
        <nav>
          <ul class="nav nav-pills pull-right">
            <li ><a href="/">Home</a></li>
            <li><a href="/partOne">Part One</a></li>
            <li><a href="/">Part Two</a></li>
          </ul>
        </nav>

        <!-- Site Name -->
        <h1 class="h3 text-muted">Computer Networks Project</h1>

             <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li>Part One</li>
        </ol>
      

      </header>

      <div class="page-heading">

        <!-- Page Heading -->
        <h1>Part One</h1>

      </div>

      <div class="row">

        <div class="col-sm-3">

          <!-- Sub Navigation -->
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/partOne">Part One</a></li>
            <li ><a href="/">Part Two</a>
              <ul>
                <li><a href="/1">First Request</a></li>
                <li><a href="/2">Second Request</a></li>
                <li ><a href="/3">Third Request</a></li>
              </ul>
            </li>
          </ul>

        </div>

        <div class="col-sm-9">
          <div class="page-contents">





			<div class"row">
			<h3>1. Ping a device in the same network, e.g. from laptop to a smartphone </h3>
			<h4>Ping the IP address of a smartphone within the same network </h4>

				<div class="col-sm-6">
					<figure style="margin: 10px">
		            <img src="images/ping-phone.png" title="ping" width="400px"/>
		             </figure>
	             </div>
	             
	             
	             <div class="col-sm-6">
					<figure style="margin: 10px">
		            <img src="images/phoneIP.png" title="ping" width="200px"/>
		             </figure>
	             </div>
             </div>

			<hr>



			<div class="row">
				<h3>2. ping www.stanford.edu</h3>
				<div class="col-sm-3">
					<figure style="margin: 70px">
		            <img src="images/ping.png" title="ping" width="400px"/>
		             </figure>
	             </div>

             </div>

			<hr>
			
			
			<div class="row">
			<h3>3. tracert www.stanford.edu</h3>
							<div class="col-sm-3">
								<figure style="margin: 10px">
					            <img src="images/tracert.png" title="ping" width="600px"/>
					             </figure>
				             </div>
			
			             </div>
			
			<hr>
			
			<div class="row">
			<h3>4. nslookup www.stanford.edu</h3>
							<div class="col-sm-3">
								<figure style="margin: 70px">
					            <img src="images/nslookup.png" title="ping" width="400px"/>
					             </figure>
				             </div>
			
			             </div>

			<hr>


            
            
            			
         </div>
       </div>
      
      </div>
      
      
<hr>
      <footer class="footer">
       <p class="pull-right">&copy; 2020 Computer Networks, BZU.</p>
        <div >
          <!-- Last Updated Design Area-->
          <p>Done By:</p>
          <ul>
			<li> Saleem Hamo   - 1170381</li>
			<li> Mesk AbuAlrob - 1170948 </li>
		</ul>
        </div>
       
      </footer>

    </div> <!-- /container -->

  </body>
</html>