<!DOCTYPE html>
<html lang="en">
  <head>
		<title>ENCS436 Webserver</title>	
  
    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  
  </head>

<style>


</style>

  <body>



        

    <div class="container">

      <header class="header clearfix" style="background-color: #ffffff">

        <!-- Main Menu -->
        <nav>
          <ul class="nav nav-pills pull-right">
            <li ><a href="/">Home</a></li>
            <li><a href="/partOne">Part One</a></li>
            <li><a href="/">Part Two</a></li>
          </ul>
        </nav>

        <!-- Site Name -->
        <h1 class="h3 text-muted">Computer Networks Project</h1>

             <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li>Part Two</li>
          <li>Second Page</li>
        </ol>
      

      </header>

      <div class="page-heading">

        <!-- Page Heading -->
        <h1>Part Two - Second Page</h1>

      </div>

      <div class="row">

        <div class="col-sm-3">

          <!-- Sub Navigation -->
          <ul class="nav nav-pills nav-stacked">
            <li ><a href="/partOne">Part One</a></li>
            <li class="active"><a href="/">Part Two</a>
              <ul>
                <li><a href="/1">First Request</a></li>
                <li style="font-weight: bold"><a href="/2">Second Request</a></li>
                <li><a href="/3">Third Request</a></li>
              </ul>
            </li>
          </ul>

        </div>

        <div class="col-sm-9">
          <div class="page-contents">

            
            
            
            
            <h2>This is an example of an HTML page!</h2>
            
            <figure style="margin: 100px">
            
            <img src="images/html.jpeg" title="HTML" width="300px"/>
            
            </figure>
            
            
            
            
            
            			
         </div>
       </div>
      
      
      
      
<hr>
      <footer class="footer">
       <p class="pull-right">&copy; 2020 Computer Networks, BZU.</p>
        <div >
          <!-- Last Updated Design Area-->
          <p>Done By:</p>
          <ul>
			<li> Saleem Hamo   - 1170381</li>
			<li> Mesk AbuAlrob - 1170948 </li>
		</ul>
        </div>
       
      </footer>

    </div> <!-- /container -->

  </body>
</html>